.search-item{
  border: 1px solid cadetblue;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.267) 2px 2px 5px 2px;
  list-style-type: none;
  width: 100%;
  min-height: 2rem;
  align-items: center;
  display: flex;
  padding-inline-start: 10px;
}